<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucumt.mapper.BookMapper">

    <select id="findById" parameterType="Integer" resultType="bookModel">
        SELECT id,name,price,type FROM book WHERE id=#{id}
    </select>

    <select id="selectByType" parameterType="integer" resultType="bookModel">
        SELECT id,name,price FROM book WHERE type=#{type}
    </select>

</mapper>