<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucumt.mapper.UserMapper">

    <select id="findById" parameterType="Integer" resultType="userModel">
        SELECT id,name,info FROM user_info WHERE id=#{id}
    </select>

    <insert id="addUser" parameterType="userModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user_info(name,info) VALUES
        (#{name},#{info})
    </insert>

    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM user_info WHERE id= #{id}
    </delete>

    <select id="queryAllUsers" resultType="userModel">
        SELECT id,name,info FROM user_info ORDER BY id DESC
    </select>

</mapper>